xml_generator/xml_schema/host.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="port.xsd"/>

    <xs:complexType name="host">
        <xs:sequence>
            <xs:element name="port" type="port" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="ip" type="xs:string"/>
    </xs:complexType>
    <xs:element name="host" type="host"/>
</xs:schema>