xml_generator/xml_schema/issue.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="issue">
        <xs:sequence>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="tool" type="xs:string"/>
    </xs:complexType>
    <xs:element name="issue" type="issue"/>
</xs:schema>