xml_bindings/zap.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="attack"/>
              <xs:element type="xs:string" name="confidence"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="reference"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="solution"/>
              <xs:element type="xs:string" name="param"/>
              <xs:element type="xs:string" name="evidence"/>
              <xs:element type="xs:short" name="pluginId"/>
              <xs:element type="xs:string" name="other"/>
              <xs:element type="xs:string" name="alert"/>
              <xs:element type="xs:byte" name="messageId"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:byte" name="wascid"/>
              <xs:element type="xs:short" name="cweid"/>
              <xs:element type="xs:string" name="risk"/>
              <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>