xml_schema/port.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="issue.xsd"/>

    <xs:complexType name="port">
        <xs:sequence>
            <xs:element name="issue" type="issue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="port" type="xs:integer"/>
        <xs:attribute name="standardService" type="xs:string"/>
    </xs:complexType>
    <xs:element name="port" type="port"/>
</xs:schema>